///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #caefef;
$masthead-small-color:   #caefef;

$post-title-color:       #caefef;
$post-date-color:        #9a9a9a;


$body-color:            #caefef;
$body-background-color: #caefef;

$link-color:            #268bd2;

$headings-color:        #313131;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

$pre-background-color:  #caefef;    // pre

$blockquote-color:        #caefef;  // blockquote
$blockquote-border-color: #caefef;

$table-border-color:         #caefef;
$table-odd-background-color: #caefef;

